.main{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.div__form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 20px;
}

.form input, select{
  padding: 15px;
}

.form textarea{
  resize: none;
}

.button{
  width: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  border: none;
  background-color: lightblue;
}

.button:hover{
  background-color: #0000ff;
}

.div__img{
  display: flex;
  margin-bottom: -20px;
}

.img{
  width: 100%;
}

@media (max-width: 800px){
  .div__img{
    display: none;
  }

  .div__form{
    width: 90%;
  }

  .main{
    display: flex;
    justify-content: center;
  }
}
